.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 90vh;
}

.container h1{
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    font-size: 3em;
    margin-bottom: 100px;
}

.pageOptions{
    display: flex;
    flex-direction: row;
    gap: 200px;
}

.pageOptions div:first-child,
.pageOptions div:last-child{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.pageOptions svg{
    font-size: 4em;
    cursor: pointer;
}

.pageOptions div:last-child svg{
    transform: scaleX(-1);
}